Repository geotribu/english-blog, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, contributors, dependencies, mkdocs

.github/labeler.yml:

articles:
  - changed-files:
      - any-glob-to-any-file:
          - content/posts/**/*.md

common:
  - changed-files:
      - any-glob-to-any-file:
          - content/*.md
          - content/toc_nav_ignored/**
  - head-branch:
      - common

contributors:
  - changed-files:
      - any-glob-to-any-file:
          - content/.authors.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

mkdocs:
  - changed-files:
      - any-glob-to-any-file:
          - config/**
          - content/**/*.pages
          - hooks/**
          - mkdocs*.yml

theme:
  - changed-files:
      - any-glob-to-any-file:
          - content/theme/**/*
          - requirements-insiders.txt
  - head-branch:
      - theme
      - ^theme

tipex:
  - head-branch:
      - tipex
      - ^tipex

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .pre-commit-config.yaml
          - .vscode/**/*
          - .docker
          - .lincheckrrc
          - .mailmap
          - .markdownlint*
          - docker*
          - Dockerfile
          - scripts/**
  - head-branch:
      - ^ci
      - ci
      - ^tooling
      - tooling

Update .authors.yml
  content/.authors.yml
Labels: contributors

Apply suggestions from code review
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Apply suggestions from code review
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

fix(mkdocs): build was failing in free mode because of broken line
  mkdocs-free.yml
Labels: mkdocs

update(theme): bump to latest Material for Mkdocs version
  requirements-free.txt
  requirements-insiders.txt
Labels: none

Revert "update(theme): bump to latest Material for Mkdocs version"
  requirements-free.txt
  requirements-insiders.txt
Labels: none

update(theme): bump to latest Material for Mkdocs version
  requirements-free.txt
  requirements-insiders.txt
Labels: none

Update content/posts/2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

update(article): add explicitly QGIS tag to comply with Planet rules
  content/posts/2024-11-25_pyqgis_environnement_dev_windows.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

add(css): class img-center-noborder, useful for transparent images with margins
  content/theme/assets/stylesheets/extra.css
Labels: none

add(css): class img-center-noborder, useful for transparent images with margins
  content/theme/assets/stylesheets/extra.css
Labels: none

update(article): use new CSS class img-center-noborder
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

add(css): class img-center-noborder, useful for transparent images with margins (#37)
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
  content/theme/assets/stylesheets/extra.css
Labels: articles

Update content/.authors.yml
  content/.authors.yml
Labels: contributors

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/.authors.yml
  content/.authors.yml
Labels: contributors

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

edit(authors): sort alphabetically
  content/.authors.yml
Labels: contributors

edit(blog): update article's author
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Update content/posts/2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

Apply suggestions from code review
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

edit(author): change to gounux
  content/.authors.yml
  content/posts/2024-10-18_introducing-QChat-chat-rooms-in-QGIS.md
  content/posts/2024-12-03_QChat_news.md
Labels: articles, contributors

Apply suggestions from code review
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Apply suggestions from code review
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update and rename 2025-01-15_working-with-json-and-postgres.md to 2025-03-04_working-with-json-and-postgres.md
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

Apply suggestions from code review
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-03-04_working-with-json-and-postgres.md
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

Update content/posts/2025-03-04_working-with-json-and-postgres.md
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

Fix related links on 2025-02-28_FOSS4G-bg.md
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles
