Repository geotribu/english-blog, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, contributors, dependencies, mkdocs

edit qchat news blog post publish date
  content/posts/2024-12-02_QChat_news.md
Labels: articles

fix internal hyperlink
  content/posts/2024-12-02_QChat_news.md
Labels: articles

try fixing internal link
  content/posts/2024-12-02_QChat_news.md
Labels: articles

try resolving internal link in metadata
  content/posts/2024-12-02_QChat_news.md
Labels: articles

try fixing header internal link
  content/posts/2024-12-02_QChat_news.md
Labels: articles

Update content/posts/2024-12-02-vendee_globe_gis_data.md
  content/posts/2024-12-02-vendee_globe_gis_data.md
Labels: articles

Apply suggestions from code review
  content/posts/2024-12-02-vendee_globe_gis_data.md
Labels: articles

fix(article): rm trailing dot in title
  content/posts/2024-11-25_pyqgis_environnement_dev_windows.md
Labels: articles

update(vendeeglobe): move the excerpt up
  content/posts/2024-12-02-vendee_globe_gis_data.md
Labels: articles

edit QChat news publish date
  content/posts/2024-12-03_QChat_news.md
Labels: articles

add(feature): use Mkdocs hook to take icon into account for social cards
  hooks/mkdocs/G003_social_cards_adapter.py
  mkdocs.yml
Labels: mkdocs

update(authors): add email addresses
  content/.authors.yml
Labels: contributors

update(tooling): fix @nicogodet duplicate git username/email
  .mailmap
Labels: none

update(mkdocs): bump theme version
  requirements-insiders.txt
Labels: none

chore(deps): update theme
  requirements-free.txt
  requirements-insiders.txt
  requirements.txt
Labels: dependencies

fix(seo): add a redirection to handle 404
  config/plugins_redirections.yml
Labels: mkdocs

fix(seo): rm invalid hyperlink
  content/about.md
Labels: none

update(theme): bump to latest Material for Mkdocs version
  requirements-free.txt
  requirements-insiders.txt
Labels: none

update(mkdocs): adapt configs to new community threshold in Material project
  config/plugins_redirections.yml
  config/plugins_tags.yml
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

fix(mkdocs): source file in redirection was missing md extension
  config/plugins_redirections.yml
Labels: mkdocs

add(blog): FOSS4G-bg
  content/.authors.yml
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles, contributors

edit(blog): edit blog post title
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

edit(blog): add 2024 bg photo
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

update(theme): bump to latest Material for Mkdocs version
  requirements-insiders.txt
Labels: none

update(tooling): refine VSCode config on Markdown
  .vscode/settings.json
Labels: none

fix(mkdocs): make `archive_date_format` and `archive_url_date_format` options have the same value
  mkdocs.yml
Labels: mkdocs

add(article): translation of https://geotribu.fr/articles/2023/2023-01-05_installer-qgis-sur-ubuntu
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): remove external picture and related credits
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): change publish date
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): add PPA mention and abbreviation
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): use international Gif for scorched earth
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): change category
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): prefer a proper translation by myself
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

fix(article): change publication date
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(mkdocs): enable pymdown keys extension
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

update(article): change publish date
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

update(article): complete paragraph around apt commands
  content/posts/2025-02-06_installing-QGIS-on-Ubuntu-with-apt.md
Labels: articles

Add files via upload
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

Update 2025-01-15_working-with-json-and-postgres.md
  content/posts/2025-01-15_working-with-json-and-postgres.md
Labels: articles

update(theme): bump to latest Material for Mkdocs version
  requirements-free.txt
  requirements-insiders.txt
Labels: none

.github/labeler.yml:

articles:
  - changed-files:
      - any-glob-to-any-file:
          - content/posts/**/*.md

common:
  - changed-files:
      - any-glob-to-any-file:
          - content/*.md
          - content/toc_nav_ignored/**
  - head-branch:
      - common

contributors:
  - changed-files:
      - any-glob-to-any-file:
          - content/.authors.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

mkdocs:
  - changed-files:
      - any-glob-to-any-file:
          - config/**
          - content/**/*.pages
          - hooks/**
          - mkdocs*.yml

theme:
  - changed-files:
      - any-glob-to-any-file:
          - content/theme/**/*
          - requirements-insiders.txt
  - head-branch:
      - theme
      - ^theme

tipex:
  - head-branch:
      - tipex
      - ^tipex

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .pre-commit-config.yaml
          - .vscode/**/*
          - .docker
          - .lincheckrrc
          - .mailmap
          - .markdownlint*
          - docker*
          - Dockerfile
          - scripts/**
  - head-branch:
      - ^ci
      - ci
      - ^tooling
      - tooling
