Repository geotribu/english-blog, changes with the labels that .github/labeler.yml gives for each.
All labels: articles, contributors, dependencies, mkdocs

Revert "Fix related links on 2025-02-28_FOSS4G-bg.md"
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: articles

fix(blog): remove unapplied bottom blocks
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

update(pyqgis-venv): add section about qgis-venv-creator usage
  content/posts/2024-11-25_pyqgis_environnement_dev_windows.md
Labels: articles

update(theme): bump to latest Material for Mkdocs version
  requirements-insiders.txt
Labels: none

What’s under the hood of the official QGIS Server Docker image?
  content/.authors.yml
  content/posts/2025-04-15_official-qgis-server-docker-image.md
Labels: articles, contributors

Update content/posts/2025-04-15_official-qgis-server-docker-image.md
  content/posts/2025-04-15_official-qgis-server-docker-image.md
Labels: articles

Add definition list Markdown extension
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs

Update content/posts/2025-04-15_official-qgis-server-docker-image.md
  content/posts/2025-04-15_official-qgis-server-docker-image.md
Labels: articles

Update content/posts/2025-04-15_official-qgis-server-docker-image.md
  content/posts/2025-04-15_official-qgis-server-docker-image.md
Labels: articles

Update content/posts/2025-04-15_official-qgis-server-docker-image.md
  content/posts/2025-04-15_official-qgis-server-docker-image.md
Labels: articles

Rename file and update introduction with Anita Graser blogpost link
  content/posts/2025-04-18_official-qgis-server-docker-image.md
Labels: articles

edit(blog): add `more` tag at the beginning of the QGIS server blog post
  content/posts/2025-04-18_official-qgis-server-docker-image.md
Labels: articles

update(tooling): disable rule MD059 to avoid false positive
  .markdownlint.json
  content/posts/2025-03-04_working-with-json-and-postgres.md
Labels: articles

blog: feedback from the QGISFR2025 in Avignon
  content/posts/2025-06-26_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): change banner source + typos
  content/posts/2025-06-26_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): edit places from where participants were coming
  content/posts/2025-06-26_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): address review by @jmarsac
  content/posts/2025-06-26_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): minor edits
  content/posts/2025-06-26_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): update pub date and add qgisfr2025 photos
  content/posts/2025-07-08_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): add one last photo
  content/posts/2025-07-08_qgisfr2025_presentation_feedback.md
Labels: articles

edit(blog): remove "we" from the blog post
  content/posts/2025-07-08_qgisfr2025_presentation_feedback.md
Labels: articles

edit(qgisfr2025): add link to QGIS.org blog
  content/posts/2025-07-08_qgisfr2025_presentation_feedback.md
Labels: articles

add(blog): qchat redesign
  content/posts/2025-09-03_qchat_redesign.md
Labels: articles

Apply suggestions from code review
  content/posts/2025-09-03_qchat_redesign.md
Labels: articles

edit(blog): change qchat date + server setup mention
  content/posts/2025-09-08_qchat_redesign.md
Labels: articles

edit(blog): remove trailing dot
  content/posts/2025-09-08_qchat_redesign.md
Labels: articles

edit(blog): add QChat reminder in intro
  content/posts/2025-09-08_qchat_redesign.md
Labels: articles

edit(blog): edit post title
  content/posts/2025-09-08_qchat_redesign.md
Labels: articles

.github/labeler.yml:

articles:
  - changed-files:
      - any-glob-to-any-file:
          - content/posts/**/*.md

common:
  - changed-files:
      - any-glob-to-any-file:
          - content/*.md
          - content/toc_nav_ignored/**
  - head-branch:
      - common

contributors:
  - changed-files:
      - any-glob-to-any-file:
          - content/.authors.yml

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - requirements/*.txt
          - requirements.txt

enhancement:
  - head-branch:
      - ^feature
      - feature
      - ^improve
      - improve

mkdocs:
  - changed-files:
      - any-glob-to-any-file:
          - config/**
          - content/**/*.pages
          - hooks/**
          - mkdocs*.yml

theme:
  - changed-files:
      - any-glob-to-any-file:
          - content/theme/**/*
          - requirements-insiders.txt
  - head-branch:
      - theme
      - ^theme

tipex:
  - head-branch:
      - tipex
      - ^tipex

tooling:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .pre-commit-config.yaml
          - .vscode/**/*
          - .docker
          - .lincheckrrc
          - .mailmap
          - .markdownlint*
          - docker*
          - Dockerfile
          - scripts/**
  - head-branch:
      - ^ci
      - ci
      - ^tooling
      - tooling
