Repository geotribu/english-blog, pull requests merged in 2024-11, with the labels that each got.

#14 feat(mkdocs): add plugin redirects and first post redirection
  config/plugins_redirections.yml
  requirements.txt
Labels: enhancement, dependencies, mkdocs

#17 feature(sharing): add MKdocs hooks to insert social sharing buttons
  hooks/__init__.py
  hooks/mkdocs/G007_social_share_buttons.py
  hooks/mkdocs/__init__.py
  mkdocs.yml
Labels: enhancement, mkdocs, tooling

#16 Article: how to track Vendée Globe race in GIS
  content/.authors.yml
  content/posts/2024-12-02-vendee_globe_gis_data.md
Labels: contributors, articles
