Repository geotribu/english-blog, pull requests merged in 2025-02, with the labels that each got.

#28 Theme: bump to version 9.6 and apply changes related to the new community threshold
  config/plugins_redirections.yml
  config/plugins_tags.yml
  mkdocs-free.yml
  mkdocs.yml
  requirements-free.txt
  requirements-insiders.txt
Labels: mkdocs, theme

#33 fix(mkdocs): make `archive_date_format` and `archive_url_date_format` options have the same value
  mkdocs.yml
Labels: mkdocs

#29 add(article): translation of https://geotribu.fr/articles/2023/2023-01-05_installer-qgis-sur-ubuntu
  content/posts/2025-02-11_installing-QGIS-on-Ubuntu-with-apt.md
  mkdocs-free.yml
  mkdocs.yml
Labels: mkdocs, articles

#35 Authors: add Thomas Szczurek-Gayant
  content/.authors.yml
Labels: contributors

#32 add(blog): FOSS4G:BG
  content/.authors.yml
  content/posts/2025-02-28_FOSS4G-bg.md
Labels: contributors, articles
